/* 左コメント */
.left {
    padding: 10px;
}

.left p:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.left p {
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
    font-size: 15px;
    white-space: pre-wrap;
}

/* 右コメント */
.right {
    margin: 10px 0;
    text-align: right;
}
.right p{
    display: inline-block;
    text-align: left;
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #81F7F3;
    font-size: 15px;
    white-space: pre-wrap;
}

.right p:after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-left: 18px solid #81F7F3;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
