.main {
  margin: 30px 200px 0 200px;
}

.card-header {
  background-color: #0489B1;
  color: #ffffff;
}

.send-description {
  float: right;
  margin: 23px 5px 0 0;
  font-size: 10px;
}
.send-btn {
  float: right;
  margin-top: 10px;
}


/* 左コメント */
.says {
    display: inline-block;
    position: relative;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
}

/* 右コメント */
.mycomment {
    margin: 10px 0;
}
.mycomment p{
    display: inline-block;
    float: right;
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #81F7F3;
    font-size: 15px;
}

.mycomment p:after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-left: 18px solid #81F7F3;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
