.main {
  margin: 30px 200px 0 200px;
}

.card-header {
  background-color: #0489B1;
  color: #ffffff;
}

.send-description {
  float: right;
  margin: 23px 5px 0 0;
  font-size: 10px;
}
.send-btn {
  float: right;
  margin-top: 10px;
}
