
.card-header {
  background-color: #0489B1;
  color: #ffffff;
}

.time-line {
  height: Calc(100vh - 254px);
  overflow-y: scroll;
}

.send-description {
  float: right;
  margin: 23px 5px 0 0;
  font-size: 10px;
}
.send-btn {
  float: right;
  margin-top: 10px;
}

.footer {
  height: 130px;
  background-color: #00080008;
  padding: 10px 20px 0 20px;
}
