<div class="container">
  <div class="card main">
    <app-auth></app-auth>
    <div class="card-body time-line">
      <app-message *ngFor="let msg of messages" [side]="msg.side" [message]="msg.message"></app-message>
    </div>
    <div class="card-footer text-muted">
      <form>
        <div class="form-group">
          <textarea class="form-control" name="message" [(ngModel)]="message" rows="3"></textarea>
        </div>
        <div class="form-group">
          <input type="file" class="form-control-file">
        </div>
        <button type="button" class="btn btn-success send-btn" (click)="send();">Send</button>
        <span class="send-description">ctl(cmd) + Enter</span>
      </form>
    </div>
  </div>
</div>
